<div class="container">
        <div class="card">
                <mat-card *ngFor = "let user of users">
                    <mat-card-title>
                        {{user.name}}:
                    </mat-card-title>
                    <mat-card-content>   
                        {{user.message}}            
                    <button class="del" (click)="deleteChat(user)"> delete </button>
                    </mat-card-content>
                </mat-card>               
            </div>   
             <div class="down">
            <form #f="ngForm" (submit)=" load(f)">
                <input matInput [(ngModel)]="user.message" name="message">&nbsp;
                <div  class="button">
                    <button mat-button [disabled]="!user.message">Send</button>
                </div>
            </form>
        </div>
</div>

