  <form (submit)=" createNote(f)" #f = "ngForm">
    <mat-accordion>
    <br>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
          <mat-form-field>         
              <input matInput 
              class="input"
              placeholder="Take a note"
              [(ngModel)]= "title" 
              name="title">
          </mat-form-field>
            <mat-panel-description>
                    <mat-icon appHighlight>check_box</mat-icon>&nbsp;&nbsp;
                    <mat-icon appHighlight>brush</mat-icon>&nbsp;&nbsp;
                    <mat-icon appHighlight>image</mat-icon>
            </mat-panel-description>

        </mat-expansion-panel-header>
  
      <mat-form-field class="notes">
        <input matInput placeholder="Notes"
        [(ngModel)]="subTitle"
        name="subTitle">
      </mat-form-field>
    
      <mat-action-row>
            <div  class="one"><mat-icon appHighlight>notifications_active</mat-icon>
            <mat-icon appHighlight>person_add</mat-icon>
            <mat-icon appHighlight>color_lens</mat-icon>
            <mat-icon appHighlight>image</mat-icon>
            <mat-icon appHighlight>archive</mat-icon>
            <mat-icon appHighlight>more_vert</mat-icon>
            </div>
        <button mat-button (click) = "createNote(formData)">Close</button>
      </mat-action-row>
    </mat-expansion-panel>
  
</mat-accordion>
</form>
<div fxLayout="row">
<app-card></app-card>
</div>
