.container{
    position: relative;
    margin: 50px 0px 0px 200px;
 }
.icons{
    position: absolute;
    right: 10px;
    top: 5px;
}
mat-icon{
    padding: 3px;
    cursor: pointer;
    opacity: 0.5;
}
.input{
    font-size: 18px;
    width:350px;
    padding:10px;
    border:0px solid gray;
    outline: none;
}
.mat-action-row > mat-icon{
    justify-content: flex-start;
}
mat-panel-description{
    color:black;
}
.notes{
    width:100%;
}

