.container{
    text-align : center;
    background-color: 
}

form{
    max-width: 30em; 
    margin: 4em auto; 
    position: relative; 
    background: #fa7d00; 
    padding: 2em 3em;
}
.heading{
    font-size : 40px;
}
.box{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid  
    ;
}
form input[type=text]::placeholder{   
    font-family: "Raleway";   
    color:#666; 
}
.key{
    cursor: pointer;
    font-size : 22px;
    border-radius : 15px;
    border-style : none;
    background-color:  #ff9933;
    padding : 10px;
}
.list{
    margin-top: 1em;
}
.items{
    position: relative;
    margin-top: 25px;
    padding-left: 15px;
    text-align: left;
    list-style: none;
    font-size: 30px;
    border-left: 2px solid #ff9933;
    background-color: white;
    width: 380px;
    height: 40px;
    
}
 .items > .material-icons{
    position: absolute;
    cursor:pointer;
    right: 20px;
    top: 7px;
}
/* 

form .data{    
        margin-top: 1em;
    }
form .data li{ 
    background: #fff; 
    border-left: 4px solid #F97300; 
    padding: 1em; 
    margin: 1em auto; 
    color: #666; 
    font-family: "Raleway";
}
form .data li i{    
    float: right;    
    color: #888;    
    cursor: pointer;
}
form .input-group-text{    
    background: #F97300;    
    border-radius: 50%;    
    width: 5em;    
    height: 5em;    
    padding: 1em 23px;    
    color: #fff;    
    position: absolute;   
    right: 13px;    
    top: 68px;    
    cursor: pointer;
}
form .input-group-text i{    
    font-size: 2em;
}
form .form-control{ 
    height: 3em;    
    font-family: "Raleway";
}
form .form-control:focus{ 
    box-shadow: 0;
} */