<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class = "container">
  <form>
  <h1 class = "heading">TODO list</h1>
<div>
  <input #todo class = "box" type = "text" placeholder = " Add to do">
  <input class = "key" type = "submit" (click)="addTodo(todo.value)" value = "Add">
</div>

<ul class = "list">
  <li class = "items" *ngFor = "let todo of todoArray">
    {{todo}} &nbsp;<i class="material-icons">delete</i>

    </li>
</ul>

</form>
</div>
