.container{
    text-align : center;
}

form{
    max-width: 30em; 
    margin: 4em auto; 
    position: relative; 
    background-color: rgb(218, 217, 216); 
    padding: 2em 3em;
}
.heading{
    font-size : 45px;
    color: #ff9933;
    font-family: "Raleway";   
}
.box{
    font-size: 25px;
    font-family: "Raleway";   
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid;
    outline: none;
    }
form input[type=text]::placeholder{   
    font-family: "Raleway";   
    color:#666; 
}

.key{
    cursor: pointer;
    font-size : 22px;
    border-radius : 15px;
    border-style : none;
    background-color:  #ff9933;
    padding : 10px;
    color:#ffffff; 
    outline: none;
}
.list{
    margin-top: 1em;
}
.items{
    margin-top: 20px;
    padding-left: 15px;
    text-align: left;
    list-style: none;
    font-size: 30px;
    border-left: 2px solid #ff9933;
    background-color: white;
    width: 400px;
    height: 40px;
    color:#666; 
}
 .items > .material-icons{
    cursor:pointer;
    margin-top: 8px;
    margin-right: 6px;
}
