.container{
    text-align : center;
    background-color: 
}

form{
    max-width: 30em; 
    margin: 4em auto; 
    position: relative; 
    background: #fa7d00; 
    padding: 2em 3em;
}
.heading{
    font-size : 40px;
}
.box{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid  
    ;
}
form input[type=text]::placeholder{   
    font-family: "Raleway";   
    color:#666; 
}
.key{
    cursor: pointer;
    font-size : 22px;
    border-radius : 15px;
    border-style : none;
    background-color:  #ff9933;
    padding : 10px;
}
.list{
    margin-top: 1em;
}
.items{
    position: relative;
    margin-top: 25px;
    padding-left: 15px;
    text-align: left;
    list-style: none;
    font-size: 30px;
    border-left: 2px solid #ff9933;
    background-color: white;
    width: 380px;
    height: 40px;
    
}
 .items > .material-icons{
    position: absolute;
    cursor:pointer;
    right: 20px;
    top: 7px;
}
