 body{
        font-family: 'Indie Flower', cursive;
     }  
    .container{
        display:grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"h h h h"
                            "p p p p"
                            "i i i i";
                            

    }
    .header{
        grid-area:h;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;        
    }
    .img1{
        width:90px;
        height:auto;
    }
    header p{
        font-size:30px;
        color:black;
    }
    .img2{
        width: 25px;
        padding: 13px;
        margin: 7px;
        border-radius: 40px;
        opacity:0.3;
    }
    .img2:hover{
        opacity:1;
        background-color: lightgray;
    }
    .img3{
        width: 25px;
        padding: 13px;
        margin: 7px;
        border-radius: 40px;
        opacity:0.3;
    }
    .img3:hover{
        opacity:1;
        background-color: lightgray;
    }
    .drop3{
        position:relative;
        display:inline;
    }
    .drop3-c{
        display:none;
        position :absolute;
        color:black;
        width:220px;
        background:rgb(247, 244, 224);
        z-index: 1;
        top: 68px;
        right: -63px;
        padding:10px 10px;
        text-align: center;
        border-radius:10px;
    }
    .drop3-c > h2{
        font-size:32px;
        border-bottom:2px solid black;
        margin:0;
    }
    .drop3-c a {
        font-size:22px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .drop3-c > button{
        border: 1px solid black;
        border-radius: 5px;
        font-size: 25px;
        background-color:brown;
        padding: 3px 50px;
        margin-top:10px;
    } 
    .drop3:hover .drop3-c{
        display: block;
        visibility:visible;
    }    
    .drop3-c a:hover {
        background-color: gray;

    }
    .drop2{
        position:relative;
        display:inline;
    }
    .drop2-c{
        display:none;
        position :absolute;
        color:black;
        width:350px;
        background:rgb(247, 244, 224);
        z-index: 1;
        top: 68px;
        right: -63px;
        padding:10px 10px;
        text-align: center;
        border-radius:10px;
        overflow:scroll;

    }
    .drop2-c > h2{
        font-size:32px;
        border-bottom:2px solid black;
    }
    .drop2-c > h4{
        font-size:18px;
        text-align: left;
        padding:0 30px;
        margin:0;
    }
    .drop2-c > button{
        border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    background-color:brown;
    padding: 8px 100px;
    }
    .drop2:hover .drop2-c{
        display: block;
        visibility:visible;
    }
    .drop1{
        position:relative;
        display:inline;
    }
    .drop1-c{
        display:none;
        position :absolute;
        color:black;
        width:350px;
        background:rgb(247, 244, 224);
        z-index: 1;
        top: 68px;
        right: -63px;
        text-align: center;
        border-radius:10px;
        overflow:scroll;
    }
    .drop1-c > h2{
        font-size:32px;
        border-bottom:2px solid black;
    }
    .drop1-c > h4{
        font-size:20px;
        text-align: left;
        padding:0 30px;
        margin:0;
    }
    .drop1-c > p{
        font-size:20px;
    }
    .drop1:hover .drop1-c{
        display: block;
        visibility:visible;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content{
        display: none;
        position: absolute;
        color:black;
        width:350px;
        background:rgb(247, 244, 224);
        z-index: 1;
        top: 68px;
        right: -30px;
        text-align: center;
        border-radius:10px;

    }
    .dropdown > h1{
        font-size:15px;
    }
    .dropdown > p{
        font-size:15px;
    }
    .dropdown-content a {
        font-size:22px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content > button{
        border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    background-color:brown;
    padding: 10px 100px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        visibility:visible;
    }
    .dropdown-content a:hover {
        background-color: gray;

    } 
    .header input{
        width:625px;
        padding:10px;
        font-size: 20px;
        border: 2px solid gray;
        border-radius:20px;
    }
    .pin{
        grid-area:p;
        position:relative;
    }
    .pin h2{
        font-size:35px;
        text-align:center;
        color:darkslategray;
    }
    .arrange{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
    }
    .arrange > img{
        position:relative;
        width:130px;
        height:130px;
        padding:5px;
        border-radius:15px;
    }
    .arrange >img:hover{
        -webkit-box-shadow: -1px 1px 21px 10px rgba(0,0,0,0.52);
        -moz-box-shadow: -1px 1px 21px 10px rgba(0,0,0,0.52);
        box-shadow: -1px 1px 21px 10px rgba(0,0,0,0.52);
    }
    .arrange > p {
        position:absolute;
        color: white;
        z-index: 1;
        bottom:10px;
    }
    .p1{
        left: 356px;    
    }
    .p2{
        left: 492px;
    }
    .p3{
        left: 628px;
    }
    .p4{
       left: 771px;
    }
    
    div > .img3{
        width: 35px;
        padding: 10px;
        background-color: lightgray;
        border-radius: 40px;
    }
    .images{
        grid-area:i;
        position:relative;
    }
    .row{
        display:flex;
        flex-wrap:wrap;
    }
    .col{
        flex:25%;
        max-width:25%;
    }
    .col .sep img {
        margin-top: 8px;
        vertical-align: middle;
    }
    .col .sep > button{

        font-size:20px;
        border-radius: 5px;
        background-color:rgb(216, 40, 40);
        padding: 0 2px;
        border:none;
        opacity:0;
        position:absolute;
        top:20px;
        right:20px;
    }
    .sep{
        position:relative;
    }
       
    .sep img:hover{
        opacity:0.8;
    }    
    .sep:hover > button{
        opacity:1;
    }
   
    @media only screen and (max-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
        }
    }
    @media only screen and (max-width: 640px) {
      .col {
        flex: 95%;
        max-width: 95%;
      }
      
      .header{
          display:flex;
          flex-direction: row;
          flex-wrap:wrap;
      }
      .img3{
          display:none;
      }
      .img2{
          padding:5px;
      }
      .dropdown-content{
        top: 68px;
        right: -30px;
      }
      .drop1-c{
        top: 68px;
        right: -76px;
      }
      .drop2-c{
        top: 68px;
        right: -124px;
        width:325px;
      }
      .drop3-c{
        top: 68px;
        right: -119px;
      } 
      .arrange{
          display:flex;
          flex-direction: column;
      }     
    }

    .add{
        border:4px solid white;
        border-radius:10px;
        opacity:1;    
    }
    .add:hover{
        -webkit-box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.47);
        box-shadow: 0px 10px 22px 1px rgba(0,0,0,0.47);
    }
 
