<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Categories List
      <a class="pull-right" (click)="createCategory()" data-toggle="modal" data-target="#modal-default"><i class="fa fa-fw fa-plus-circle"></i></a>
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-body">
            <p class="text-center" *ngIf="no_record" > No Data Yet. <a (click)="createCategory()"  data-toggle="modal" data-target="#modal-default" >Add New </a></p>
            <table *ngIf= "!no_record"  id="example2" class="table table-bordered ">
              <thead>
              <tr>
                <th>Id</th>
                <th>Category Name</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let category of categories" >
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>
                  <a (click)="editCategory(category.id)" data-toggle="modal" data-target="#modal-default" ><i class="glyphicon glyphicon-edit"></i></a>
                  <a style="cursor:pointer" (click)="delete(category.id)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div> 
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>



<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{submit_button}}</h4>
        </div>
        <div class="modal-body custom-body" style="height:100px; text-align: center">
          <div class="col-md-12">
            <div class="col-md-offset-2 col-md-2 custom-top-margin">
              <label >Name</label>
            </div>
            <div class="col-md-6">
              <input type="name" class="form-control" [(ngModel)]="name" placeholder="Enter name">
            </div>
          </div>
            
        </div>
        <div class="modal-footer">
          <button type="submit" (click)="createCategories()" class="btn btn-primary">{{submit_button}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

