
<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Create new label" [(ngModel)]="label.name" name="name" >
  </mat-form-field>
  <li *ngFor="let label of labels">
    <span>{{label.name}}</span>
    <mat-icon appHighlight (click)="deleteItem(label)">delete_outline</mat-icon>

  </li>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> No Thanks </button>
  <button mat-button (click)="createLabel()" [disabled]="!label.name" > Save </button>
</div>
 