.container{
    height:300px;
    width:100%;
    align-items: center;
}

#display{
    width:100%;
    font-size:72px;
    margin:0;
    text-align:center;
}
.button{
    text-align:center;
}
.button > button{
    margin:10px;
}