.container{
    height:100%;
    width:100%;
    align-items: center;
}

#display{
    width:100%;
    font-size:72px;
    margin:0;
    text-align:center;
}
.button{
    text-align:center;
}
.button > button{
    margin:10px;
}
.list{
    text-align : center;
    font-size : 30px;
}
ul{
    list-style : none;
}