

.mat-card {
  width: 400px;
}
body {
  background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
     }
.active-list-item {
  color:#FFFFFF ; 
      }

.cardsize1{
  margin-top: 130px;
}