.cardsize{
  width:300px;
  margin-top: 130px;
 
 

    }
body{
  background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
.loginDesign{
  margin-top: 50px;
    }
.router-link {
  color:#FFFFFF  ; 
    }