<div class="container">
    
        <ul class="first"><a routerLink='/notes'><li>
            <i class = "material-icons">note_add</i> 
            <span class="menu">Notes</span></li></a>

            <a routerLink='/reminder'><li>
            <i class="material-icons">notifications_none</i>
            <span class="menu">Reminder</span></li></a><br>
        </ul> 
    
        <span class="label">Label</span><br>

        <li *ngFor="let label of labels">
            <mat-icon>label_outlined</mat-icon>&nbsp;&nbsp;&nbsp;
            <span>{{label.name}}</span></li>
            
        <ul class ="first" >
            <li (click)= "openDialog()"><a>
            <i class="material-icons">edit</i>
            <span class="menu">Edit</span></a></li><br>
        </ul>
   
    
        <ol>
            <a routerLink='/archive'><li>
            <i class="material-icons">archive</i>
            <span class="menu">Archive</span></li></a>
    
            <a routerLink='/trash'><li>
            <i class="material-icons">delete</i>
            <span class="menu">Trash</span></li></a>
        </ol><br>        
    
 
</div>
