<div class="container">
    <div class="first">
        <i class = "material-icons">note_add</i> 
        <a routerLink="/noteplace">
            <span class="menu" >Notes</span></a><br>
        <i class="material-icons">notifications_none</i>
        <a routerLink="/reminder">
            <span class="menu"> Reminder</span></a><br><br>
    </div>  
    <div class="second">
        <br><span class="label">Label</span><br>
        <i class="material-icons">edit</i>
        <a routerLink="/edit">
            <span class="menu"> Edit</span></a><br><br>
        </div>
    <i class="material-icons">archive</i>
    <a routerLink="/archive">
        <span class="menu"> Archive</span></a><br>
    <i class="material-icons">delete</i>
    <a routerLink="/trash">
        <span class="menu">Trash </span></a><br>        
</div>
