<div class="container">
    
        <ul class="first"><li><a routerLink="/noteplace">
            <i class = "material-icons">note_add</i> 
            <span class="menu">Notes</span></a></li>

            <li><a routerLink="/reminder">
            <i class="material-icons">notifications_none</i>
            <span class="menu">Reminder</span></a></li><br>
        </ul> 
    
        <span class="label">Label</span><br>
        <ul class ="first">
            <li><a routerLink="/edit">
            <i class="material-icons">edit</i>
            <span class="menu">Edit</span></a></li><br>
        </ul>
   
    
        <ol>
            <li><a routerLink="/archive">
            <i class="material-icons">archive</i>
            <span class="menu">Archive</span></a></li>
    
            <li><a routerLink="/trash">
            <i class="material-icons">delete</i>
            <span class="menu">Trash</span></a></li>
        </ol><br>        
    
 
</div>
